{erl_opts, [debug_info]}.

{base_dir, "_build"}.
{root_dir, "."}.

{deps, [
        {jose, "1.8.4"},
        {jiffy, "0.15.0"},
        {gun, "1.0.0-pre.4b"},
        {base32, {git, "https://github.com/aetrion/base32_erlang.git", {branch, "master"}}}
       ]}.

{dialyzer, [
            %% {warnings, [underspecs, no_return]},
            %% {get_warnings, true}
           ]}.
